In [1]:
# Download the dataset
!kaggle datasets download -d heesoo37/120-years-of-olympic-history-athletes-and-results

Downloading 120-years-of-olympic-history-athletes-and-results.zip to /Users/timchristy/Desktop/Mod_3_Stats_Project_Tim_Emefa
100%|██████████████████████████████████████| 5.43M/5.43M [00:02<00:00, 2.89MB/s]
100%|██████████████████████████████████████| 5.43M/5.43M [00:02<00:00, 2.75MB/s]

In [5]:
# imports
import os
import pandas as pd
from zipfile import ZipFile

In [12]:
os.mkdir('data')
os.listdir()

['120 Years of Olympic Athlete Data.pdf',
 'noc_regions.csv',
 'stats_notebook.ipynb',
 'KDEBMI.png',
 'Ages_females_1996_vs_2016.png',
 'anova_df.png',
 '__pycache__',
 'get_data.py',
 'README.md',
 'HistogramBMI.png',
 'Olympic_Athletes_Analysis_Final_Notebook.ipynb',
 'athlete_events.csv',
 'BMI_females_1996_vs_2016.png',
 '.ipynb_checkpoints',
 '120-years-of-olympic-history-athletes-and-results.zip',
 '.git',
 '.olympics_env',
 'data',
 'Project_3_Olympics_Data_Exploratory.ipynb']

In [13]:
# Create a ZipFile Object and load sample.zip in it
with ZipFile('120-years-of-olympic-history-athletes-and-results.zip', 'r') as zipObj:
   # Extract all the contents of zip file in different directory
   zipObj.extractall('data/')

In [14]:
os.listdir('data/')

['noc_regions.csv', 'athlete_events.csv']

In [15]:
noc_regions_df = pd.read_csv('noc_regions.csv')
athlete_events_df = pd.read_csv('athlete_events.csv')

In [16]:
noc_regions_df

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [17]:
athlete_events_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [18]:
# Issue with the team names i.e., stuff like Poland vs Poland-1 should be the same.
athlete_events_df['Team'].value_counts() # There are 1184 unique team names, yet 230 NOC

United States      17847
France             11988
Great Britain      11404
Italy              10260
Germany             9326
                   ...
Carabinier-15          1
Satchmo                1
Femur-1                1
Pettit-Poucet-6        1
Notavel                1
Name: Team, Length: 1184, dtype: int64